.gameCard {
    position: relative;
    padding: 25px 20px;
    margin-bottom: 25px;
    width: auto;
    height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background: var(--bgColor);
    box-shadow: -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
}

.gameCard img {
    bo
}